/* Allgemeiner Stil für alle Buttons */
.controls {
  display: flex;
  direction: ltr;
  flex-direction: row;
  gap: 1em;
  background-color: #122031;
  margin-left: 50px;
}

.building-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-repeat: no-repeat;
  background-size: 32px 32px;
  /* Größe des Icons */
  background-position: top center;
  /* Bild oben zentriert */
  padding-top: 40px;
  /* Platz für das Bild */
  height: 80px;
  width: 80px;
  /* Optional: Einheitliche Breite für Buttons */
  border: none;
  cursor: pointer;
  text-align: center;
}

.building-btn span {
  margin-top: 8px;
  /* Abstand zwischen Bild und Text */
  display: block;
}

/* Spezifische Hintergrundbilder für verschiedene Gebäude */
.reactor {
  background-image: url("/assets/icons/reactor.png");
}

.laser {
  background-image: url("/assets/icons/laser.png");
}

.missile-station {
  background-image: url("/assets/icons/long_range_missile_station.png");
}

.miner {
  background-image: url("/assets/icons/miner.png");
}

.energy-storage {
  background-image: url("/assets/icons/energy_storage.png");
}

.grid-connector {
  background-image: url("/assets/icons/grid_connector.png");
}

.repair-station {
  background-image: url("/assets/icons/repair_station.png");
}

.game-status {
  background-color: #122031;
  color: white;
  padding: 10px;
}

/*.controls > :nth-last-child(0) {*/
/*  background-color: #122031;*/
/*  color: white;*/
/*}*/


button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.btn-light {
  background-color: #f8f9fa;
  color: #343a40;
}

button.btn-light:hover {
  background-color: #e2e6ea;
}

button.building-btn {
  background-color: #2e557c;
  color: white;
}

button.building-btn:hover {
  background-color: #122031;
}

button.building-btn span {
  display: block;
  font-weight: bold;
}
