<!--
    --------------------------------------------------
    |                                                |
    |                 The Space Game                 |
    |                                                |
    |                                                |
    |                  [Neues Spiel]                 |
    |                                                |
    |                  [Spiel laden]                 |
    |                                                |
    |                  [Statistiken]                 |
    |                                                |  
    --------------------------------------------------
-->

<div class="gameMenu">
  <h1 class="menuTitle">THE SPACE GAME</h1>

  <!--dient zur Animation von Meteoriden-->
  <div class="essentials">
    <span class="meteorid"></span>
    <span class="meteorid"></span>
    <span class="meteorid"></span>
    <span class="meteorid"></span>
    <span class="meteorid"></span>
    <span class="meteorid"></span>
    <span class="meteorid"></span>
    <span class="meteorid"></span>
    <span class="meteorid"></span>
    <span class="meteorid"></span>
  </div>

  <!--dient zur Animation von Raumschiffen-->
  <div class="spaceships">
    <span class="spaceship"></span>
    <span class="spaceship"></span>
    <span class="spaceship"></span>
    <span class="spaceship"></span>
    <span class="spaceship"></span>
  </div>

  <div class="menuButtons">
    <button type="button" routerLink="/game" class="btn btn-light">
      Spiel starten
    </button>
    <button type="button" class="btn btn-light">Statistiken</button>
  </div>
</div>

<!--https://codepen.io/diyorbek0309/pen/mdwbEve-->
